name: Update gist
on:
  push:
    branches:
      - master
  schedule:
    - cron: "21 14 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update gist
        uses: maxam2017/productive-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: dd596fc4a4b25e4235fca0eef6a59d5b
          TIMEZONE: America/New_York
